body {
    font-family: Arial, sans-serif;
    background-color: lavender;
    text-align: center;
    padding: 40px;
}

h1 {
    color: pink;
}

p {
    font-size: 18px;
}

img {
    width: 300px;
    border-radius: 15px;
}

a {
    color: darkblue;
    font-size: 18px;
}